<a href="https://colab.research.google.com/github/rupasree-guttikonda/Assignment-2/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/rupasree-guttikonda/Assignment-2/refs/heads/main/train.csv')
df.head(10)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
6,8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,5.20
7,9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,NaN,1.95
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
9,11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,NaN,4.49

In [ ]:
df.shape

(5847, 14)

#A)  Look for the missing values in all the columns and either impute them (replace with mean, median, or mode) or drop them. Justify your action for this task.

In [ ]:
#Looking if there are any missing values
df.isna().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

Now we can count the percentage of missing values for each column, simply by dividing the previous result by the length of the dataset (len(df)) and multiplying per 100.

In [ ]:
(df.isna().sum()/len(df))*100

Unnamed: 0            0.000000
Name                  0.000000
Location              0.000000
Year                  0.000000
Kilometers_Driven     0.000000
Fuel_Type             0.000000
Transmission          0.000000
Owner_Type            0.000000
Mileage               0.034206
Engine                0.615700
Power                 0.615700
Seats                 0.649906
New_Price            86.061228
Price                 0.000000
dtype: float64

# JUSTIFICATION OF ACTIONS
I am going to drop the column New_Price because it got about 86% of missing values which is too much and I am going to imputr mesian values for the columns Seats, Power, Engine and Mileage because they got less than 1% of missing values

In [ ]:
df1=df.copy()
df1

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

dropping of columns where a certain percentage of not-null values is available. This can be achieved through the thresh parameter. In the following example we keep only columns where there are at least the 80% of not null values.

In [ ]:
df1.dropna(thresh=0.8*len(df1),axis=1,inplace=True)
df1

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,2.50

In [ ]:
df1.isna().sum()/len(df1)*100

Unnamed: 0           0.000000
Name                 0.000000
Location             0.000000
Year                 0.000000
Kilometers_Driven    0.000000
Fuel_Type            0.000000
Transmission         0.000000
Owner_Type           0.000000
Mileage              0.034206
Engine               0.615700
Power                0.615700
Seats                0.649906
Price                0.000000
dtype: float64

# B) Remove the units from some of the attributes and only keep the numerical values (for example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from “New_price”).

In [ ]:
fuel_density = 0.832

def convert_to_kmpl(value):
    value=str(value)
    if 'km/kg' in value:
        # Extract the numeric part and convert
        km_per_kg = float(value.replace(' km/kg', ''))
        return km_per_kg * fuel_density  # Convert to kmpl
    elif 'kmpl' in value:
        # Extract the numeric part for values already in kmpl
        return float(value.replace(' kmpl', ''))
    else:
         # Return the original value if it's not in expected format
        # or If it's already a number (e.g., float)
        try:
            return float(value)
        except ValueError:
            return None  # Handle unexpected formats if any

# Apply the conversion function to each row in the 'efficiency' column
df1['Mileage'] = df1['Mileage'].apply(convert_to_kmpl)

df1

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.670,1582 CC,126.2 bhp,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,10.816,1199 CC,88.7 bhp,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.770,1248 CC,88.76 bhp,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.200,1968 CC,140.8 bhp,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.080,1461 CC,63.1 bhp,5.0,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.400,1248 CC,74 bhp,5.0,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.400,1120 CC,71 bhp,5.0,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.000,2498 CC,112 bhp,8.0,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.900,998 CC,67.1 bhp,5.0,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.440,936 CC,57.6 bhp,5.0,2.50

In [ ]:
df1['Engine'] = df1['Engine'].astype(str).str.replace(' CC', '', regex=False).astype(float)
df1['Power'] = df1['Power'].astype(str).str.replace(' bhp', '', regex=False).astype(float)
df1

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.670,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,10.816,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.770,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.200,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.080,1461.0,63.10,5.0,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.400,1248.0,74.00,5.0,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.400,1120.0,71.00,5.0,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.000,2498.0,112.00,8.0,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.900,998.0,67.10,5.0,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.440,936.0,57.60,5.0,2.50

In [ ]:
df1.fillna(df1.median(numeric_only=True), inplace=True)
df1

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.670,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,10.816,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.770,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.200,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.080,1461.0,63.10,5.0,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.400,1248.0,74.00,5.0,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.400,1120.0,71.00,5.0,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.000,2498.0,112.00,8.0,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.900,998.0,67.10,5.0,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.440,936.0,57.60,5.0,2.50

In [ ]:
df1.isna().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

#C)  Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot encoded value.

In [ ]:
df1_encoded = pd.get_dummies(df1, columns=['Location', 'Year', 'Fuel_Type', 	'Transmission',	'Owner_Type' ])
df1_encoded

,Unnamed: 0,Name,Kilometers_Driven,Mileage,Engine,Power,Seats,Price,Location_Ahmedabad,Location_Bangalore,...,Year_2019,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Owner_Type_First,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third
0,1,Hyundai Creta 1.6 CRDi SX Option,41000,19.670,1582.0,126.20,5.0,12.50,False,False,...,False,True,False,False,False,True,True,False,False,False
1,2,Honda Jazz V,46000,10.816,1199.0,88.70,5.0,4.50,False,False,...,False,False,False,True,False,True,True,False,False,False
2,3,Maruti Ertiga VDI,87000,20.770,1248.0,88.76,7.0,6.00,False,False,...,False,True,False,False,False,True,True,False,False,False
3,4,Audi A4 New 2.0 TDI Multitronic,40670,15.200,1968.0,140.80,5.0,17.74,False,False,...,False,True,False,False,True,False,False,False,True,False
4,6,Nissan Micra Diesel XV,86999,23.080,1461.0,63.10,5.0,3.50,False,False,...,False,True,False,False,False,True,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,27365,28.400,1248.0,74.00,5.0,4.75,False,False,...,False,True,False,False,False,True,True,False,False,False
5843,6015,Hyundai Xcent 1.1 CRDi S,100000,24.400,1120.0,71.00,5.0,4.00,False,False,...,False,True,False,False,False,True,True,False,False,False
5844,6016,Mahindra Xylo D4 BSIV,55000,14.000,2498.0,112.00,8.0,2.90,False,False,...,False,True,False,False,False,True,False,False,True,False
5845,6017,Maruti Wagon R VXI,46000,18.900,998.0,67.10,5.0,2.65,False,False,...,False,False,False,True,False,True,True,False,False,False
5846,6018,Chevrolet Beat Diesel,47000,25.440,936.0,57.60,5.0,2.50,False,False,...,False,True,False,False,False,True,True,False,False,False

#D)Create one more feature and add this column to the dataset (you can use mutate function in R for this). For example, you can calculate the current age of the car by subtracting “Year” value from the current year.

In [ ]:
from datetime import datetime
current_year = datetime.now().year

# Calculate the age of each car and add it as a new column
df1['car_age'] = current_year - df1['Year']

df1

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,car_age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.670,1582.0,126.20,5.0,12.50,9
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,10.816,1199.0,88.70,5.0,4.50,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.770,1248.0,88.76,7.0,6.00,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.200,1968.0,140.80,5.0,17.74,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.080,1461.0,63.10,5.0,3.50,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.400,1248.0,74.00,5.0,4.75,10
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.400,1120.0,71.00,5.0,4.00,9
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.000,2498.0,112.00,8.0,2.90,12
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.900,998.0,67.10,5.0,2.65,11
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.440,936.0,57.60,5.0,2.50,13

#e) Perform select, filter, rename, mutate, arrange and summarize with group by operations (or their equivalent operations in python) on this dataset.

In [ ]:
# Select specific columns (similar to SELECT in SQL)
selected_df1 = df1[['Name', 'car_age']]
print("Selected Columns:\n", selected_df1)

# Filter rows based on a condition (similar to FILTER)
filtered_df1 = df1[df1['car_age'] > 5]
print("\nFiltered Rows (car_age > 5):\n", filtered_df1)

# Rename columns (similar to R's rename or SQL's AS)
renamed_df1 = df1.rename(columns={'car_name': 'make', 'car_age': 'age_of_car'})
print("\nRenamed Columns:\n", renamed_df1)

# Mutate: Create a new column based on a condition or calculation
df1['is_new'] = df1['car_age'] < 3
print("\nMutated with New Column (is_new):\n", df1)

# Arrange: Sort by one or more columns (similar to ORDER BY)
arranged_df1 = df1.sort_values(by='car_age', ascending=False)
print("\nArranged by car_age (Descending):\n", arranged_df1)

# Summarize with Group By: Group data and calculate summary statistics
grouped_df1 = df1.groupby('Name').agg(
    avg_age=('car_age', 'mean'),
    count=('car_age', 'size')
).reset_index()
print("\nGrouped and Summarized by car_name:\n", grouped_df1)

Selected Columns:
                                   Name  car_age
0     Hyundai Creta 1.6 CRDi SX Option        9
1                         Honda Jazz V       13
2                    Maruti Ertiga VDI       12
3      Audi A4 New 2.0 TDI Multitronic       11
4               Nissan Micra Diesel XV       11
...                                ...      ...
5842                  Maruti Swift VDI       10
5843          Hyundai Xcent 1.1 CRDi S        9
5844             Mahindra Xylo D4 BSIV       12
5845                Maruti Wagon R VXI       11
5846             Chevrolet Beat Diesel       13

[5847 rows x 2 columns]

Filtered Rows (car_age > 5):
       Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
0                 41000    Diesel       Manual      First   19.670  1582.0
1                 46000    Petrol       Manual      First   10.816  1199.0
2                 87000    Diesel       Manual      First   20.770  1248.0
3                 40670    Diesel    Automatic     Second   15.200  1968.0
4                 86999    Diesel       Manual      First   23.080  1461.0
...                 ...       ...          ...        ...      ...     ...
5842              27365    Diesel       Manual      First   28.400  1248.0
5843             100000    Diesel       Manual      First   24.400  1120.0
5844              55000    Diesel       Manual     Second   14.000  2498.0
5845              46000    Petrol       Manual      First   18.900   998.0
5846              47000    Diesel       Manual      First   25.440   936.0

       Power  Seats  Price  car_age  is_new
0     126.20    5.0  12.50        9   False
1      88.70    5.0   4.50       13   False
2      88.76    7.0   6.00       12   False
3     140.80    5.0  17.74       11   False
4      63.10    5.0   3.50       11   False
...      ...    ...    ...      ...     ...
5842   74.00    5.0   4.75       10   False
5843   71.00    5.0   4.00        9   False
5844  112.00    8.0   2.90       12   False
5845   67.10    5.0   2.65       11   False
5846   57.60    5.0   2.50       13   False

[5746 rows x 15 columns]

Renamed Columns:
       Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
0                 41000    Diesel       Manual      First   19.670  1582.0
1                 46000    Petrol       Manual      First   10.816  1199.0
2                 87000    Diesel       Manual      First   20.770  1248.0
3                 40670    Diesel    Automatic     Second   15.200  1968.0
4                 86999    Diesel       Manual      First   23.080  1461.0
...                 ...       ...          ...        ...      ...     ...
5842              27365    Diesel       Manual      First   28.400  1248.0
5843             100000    Diesel       Manual      First   24.400  1120.0
5844              55000    Diesel       Manual     Second   14.000  2498.0
5845              46000    Petrol       Manual      First   18.900   998.0
5846              47000    Diesel       Manual      First   25.440   936.0

       Power  Seats  Price  age_of_car  is_new
0     126.20    5.0  12.50           9   False
1      88.70    5.0   4.50          13   False
2      88.76    7.0   6.00          12   False
3     140.80    5.0  17.74          11   False
4      63.10    5.0   3.50          11   False
...      ...    ...    ...         ...     ...
5842   74.00    5.0   4.75          10   False
5843   71.00    5.0   4.00           9   False
5844  112.00    8.0   2.90          12   False
5845   67.10    5.0   2.65          11   False
5846   57.60    5.0   2.50          13   False

[5847 rows x 15 columns]

Mutated with New Column (is_new):
       Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
0                 41000    Diesel       Manual      First   19.670  1582.0
1                 46000    Petrol       Manual      First   10.816  1199.0
2                 87000    Diesel       Manual      First   20.770  1248.0
3                 40670    Diesel    Automatic     Second   15.200  1968.0
4                 86999    Diesel       Manual      First   23.080  1461.0
...                 ...       ...          ...        ...      ...     ...
5842              27365    Diesel       Manual      First   28.400  1248.0
5843             100000    Diesel       Manual      First   24.400  1120.0
5844              55000    Diesel       Manual     Second   14.000  2498.0
5845              46000    Petrol       Manual      First   18.900   998.0
5846              47000    Diesel       Manual      First   25.440   936.0

       Power  Seats  Price  car_age  is_new
0     126.20    5.0  12.50        9   False
1      88.70    5.0   4.50       13   False
2      88.76    7.0   6.00       12   False
3     140.80    5.0  17.74       11   False
4      63.10    5.0   3.50       11   False
...      ...    ...    ...      ...     ...
5842   74.00    5.0   4.75       10   False
5843   71.00    5.0   4.00        9   False
5844  112.00    8.0   2.90       12   False
5845   67.10    5.0   2.65       11   False
5846   57.60    5.0   2.50       13   False

[5847 rows x 15 columns]

Arranged by car_age (Descending):
       Unnamed: 0                                 Name    Location  Year  \
3630        3749    Mercedes-Benz E-Class 250 D W 210      Mumbai  1998
3039        3138                       Maruti Zen LXI      Jaipur  1998
5558        5716                        Maruti Zen LX      Jaipur  1998
1185        1224                        Maruti Zen VX      Jaipur  1999
1791        1845                   Honda City 1.3 EXI        Pune  1999
...          ...                                  ...         ...   ...
2639        2728              Maruti Baleno Alpha CVT       Kochi  2019
3588        3705  Mercedes-Benz GLC 220d 4MATIC Style  Coimbatore  2019
1160        1198    Volkswagen Polo 1.0 MPI Trendline   Hyderabad  2019
5451        5606           Maruti Wagon R ZXI AMT 1.2      Mumbai  2019
2766        2855           Toyota Fortuner 2.8 2WD AT       Kochi  2019

      Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
3630              55300    Diesel    Automatic      First    10.00  1796.0
3039              95150    Petrol       Manual      Third    17.30   993.0
5558              95150    Petrol       Manual      Third    17.30   993.0
1185              70000    Petrol       Manual     Second    17.30   993.0
1791             140000    Petrol       Manual      First    13.00  1343.0
...                 ...       ...          ...        ...      ...     ...
2639              13574    Petrol    Automatic      First    21.40  1197.0
3588              29311    Diesel    Automatic      First    17.90  2143.0
1160               1000    Petrol       Manual      First    18.78   999.0
5451                600    Petrol    Automatic      First    21.50  1197.0
2766              21719    Diesel    Automatic      First    12.90  2755.0

      Power  Seats  Price  car_age  is_new
3630  157.7    5.0   3.90       26   False
3039   60.0    5.0   0.45       26   False
5558   60.0    5.0   0.53       26   False
1185   60.0    5.0   0.77       25   False
1791   90.0    5.0   0.90       25   False
...     ...    ...    ...      ...     ...
2639   83.1    5.0   9.51        5   False
3588  170.0    5.0  50.97        5   False
1160   75.0    5.0   5.68        5   False
5451   81.8    5.0   6.25        5   False
2766  174.5    7.0  33.13        5   False

[5847 rows x 15 columns]

Grouped and Summarized by car_name:
                                 Name    avg_age  count
0     Ambassador Classic Nova Diesel  21.000000      1
1          Audi A3 35 TDI Attraction  10.000000      1
2             Audi A3 35 TDI Premium   8.000000      1
3        Audi A3 35 TDI Premium Plus   8.000000      1
4          Audi A3 35 TDI Technology   7.000000      1
...                              ...        ...    ...
1799            Volvo XC60 D4 Summum  12.000000      1
1800                   Volvo XC60 D5  11.666667      3
1801       Volvo XC60 D5 Inscription  10.000000      1
1802  Volvo XC90 2007-2015 D5 AT AWD  10.000000      1
1803     Volvo XC90 2007-2015 D5 AWD  10.000000      1

[1804 rows x 3 columns]